@font-face {
  font-family: Cereal;
  src: url('@/assets/fonts/Airbnb_Cereal-Book.woff2') format('woff2');
}

@font-face {
  font-family: Cereal-bold;
  src: url('@/assets/fonts/Airbnb_Cereal-Bold.woff2') format('woff2');
}

@font-face {
  font-family: Cereal-medium;
  src: url('@/assets/fonts/Airbnb_Cereal-Medium.woff2') format('woff2');
}