// Colors
$clr1: #222222;
$clr2: #ff385c;
$clr3: #ffffff;
$clr4: #dfdfdf;
$clr5: #dff0ea;
$clr6: #dddddd;
$clr7: #717171;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// Fonts size

$regular-size: 14px;
$small-size: 12px;

//Font wight
$light: 100;
$medium: 400;
$bold: 600;

// Gaps

$column-list-gap: 24px;
$row-list-gap: 48px;

// Border radios

$light-radios: 12px;

// Borders

$border: 1px solid #dddddd;

// Padding

$padding-filter: 32px;
